@import "bootstrap-3.3.6-dist/css/bootstrap.css";
body {

    margin-left: 0;
    margin-top: 0;
    font-family: cursive;
    font-size: 24px;
    color: #474d5f;
    background: #7cd2ff url("img/fon.png");

}
.header {
    width: 100%;
    height: 40px;
    z-index: 0;
    position: fixed;
}
.menu {
    padding: 10px 0 0 20px;
    width: inherit;
    height: 40px;
    background-color: black;
    letter-spacing: 2px;
    word-spacing: 20px;
    position: fixed;
    z-index: 9999;
}
.mainblock{
    padding: 30px 20px 15px 30px;
    width: 65%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto;
}
img.foto{
    float: right;
}
h1{
    font-size: 36px;
    color: black;
}
h2{
    font-size: 20px;
    color: black;
}
ul{
    list-style-type: circle;

}
p:first-letter{
    color: #2c7bff;
}
.dick.pre:first-letter{
    color: red;
}
p{
    text-indent: 30px;
}
/* link block */

a:link {
    color: white;
    text-decoration: none;

}
a:visited{
    color: white;

}
a:hover{
    color: #7cd2ff;

}
a:active{
    color: gray;
}

.emaillink{
 color: blue;
}
